build
build-knl
debug
vtune
ipm
vectest
scaling
scaling-hsw
vtune
vtune-hsw
map
*.ld
*.a

sweep
*.out

*.o
*~
*.mod

yyre*
gem_main

*.pro
*.txt

mxamp
plot*
flux
eqflux

mdhis
mdhisa
eqdat
xpp
stress
indicator
freq

dump/
matrix/
out/

*.ps
